<div class="todo" data-id="<%= todo.id.nil? ? 'new' : todo.id %>">
    <%= form_for(todo, remote: true) do |f| %>
    <% if !todo.new_record? %>
      <div class="field row-inline">
        <%= f.hidden_field :status %>
      </div>
    <% end %>
    <div class="field row-inline">
      <%= f.text_field :description %>
    </div>
    <div class="actions row-inline">
      <%= f.submit %>
    </div>
  <% end %>
</div>

