<p id="notice"><%= notice %></p>

<h1 class="center">Todos</h1>

<div class="container">
  <div id="new-todo" class="row text-center">
    <%= render Todo.new %>
  </div>
  <div id="todos" class="row text-center">
    <%= render @todos %>
  </div>
  <div id="filters" class="row text-center">
    <%= link_to 'All', todos_path, remote: true %>
    <%= link_to 'Active', todos_path(active: true), remote: true %>
    <%= link_to 'Completed', todos_path(completed: true), remote: true %>
  </div>
</div>

<br>

